------------------------------------------
-- PARTE DE LA CABECERA --
------------------------------------------

body {
    font-family: 'Montserrat', sans-serif;
  }

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: white;
    color: black;
    flex-wrap: wrap;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .logo img {
    height: 65px;
  }
  
  .categorias-btn {
    background-color: #abff7d;
    color: #1e1e1e;
    border: none;
    padding: 15px 25px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Montserrat';
    border-radius: 5px;
    font-size: 16px;
  }

  .categorias-btn i {
    margin-right: 10px;
  }
  
  .buscador {
    flex-grow: 1;
    display: flex;
    max-width: 600px;
    margin: 0 15px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
  }
  
  .buscador input {
    flex-grow: 1;
    padding: 12px 8px;
    border: none;
    border-radius: 5px 0 0 5px;
    font-family: 'Montserrat';
  }
  
  .buscador button {
    padding: 8px 12px;
    border: none;
    background-color: #abff7d;
    color: black;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  .iconos a {
    color: black;
    margin-left: 30px;
    text-decoration: none;
    font-size: 16px;
  }
  
  .iconos a i {
    margin-right: 5px;
    font-size: 20px;
  }

  -----------------------------------------
  -- PARTE DE LOS PRODUCTOS--
  -----------------------------------------

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

.contenedor-tabla {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

table {
  border-collapse: separate;
  border-spacing: 10px 20px; /* 10px horizontal, 20px vertical */
  width: 100%;
  margin: 0 auto;
}

td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  vertical-align: top;
  width: 25%; /* 4 columnas iguales */
  background-color: #f9f9f9;
  border-radius: 8px;
}

.celda-enlace {
    display: block;
    text-decoration: none;
    color: #333;
    transition: all 0.3s;
}

.celda-enlace:hover {
    background-color: #f5f5f5;
    transform: scale(1.02);
}

.celda-imagen {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}

.celda-texto {
    font-weight: bold;
    margin-top: 5px;
}

h1 {
    text-align: center;
    color: #444;
    margin-bottom: 30px;
}